@model ModuleServicePOS.Data.OrderDetailsFormModel
@using Microsoft.AspNetCore.Http
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Repair";

    var ReceivedItemListArray = new string[] { "LCD", "SYSTEM BOARD", "CPUFAN", "TOUCH PAD", "HINGE", "HDD", "SSD", "RAM", "DV-WRITER", "AC-ADAPTER", "MOUSE" };
    var ReceivedItemList = new List<SelectListItem>();
    foreach (var item in ReceivedItemListArray)
    {
        ReceivedItemList.Add(new SelectListItem { Text = item, Value = item });
    }

    var ProductStatusArray = new string[] { "REPAIR", "EXCHANGE", "UPGRADE", "RETURNED NOT REPAIRED" };
    var ProductStatusList = new List<SelectListItem>();
    foreach (var item in ProductStatusArray)
    {
        ProductStatusList.Add(new SelectListItem { Text = item, Value = item });
    }


    Model.SubTotal = Model.EstimateDetailsList.Sum(x => x.Amount);
    Model.GrandTotal = Model.EstimateDetailsList.Sum(x => x.Amount);
}

<form method="post" asp-action="Repair" asp-controller="Admin">
    <div class="container">
        <div class="row">
            <h2>Computer Repair And Service Job Card</h2>
        </div>
        <div class="row mt-2">
            <div class="col">
                <label asp-for="PreparedBy"></label>
                <input type="text" class="form-control" readonly asp-for="PreparedBy" value="@Model.PreparedBy" required />
                <span asp-validation-for="PreparedBy"></span>
            </div>
            <div class="col">
                <label asp-for="SerialNo"></label>
                <input type="text" class="form-control" readonly asp-for="SerialNo" value="@Model.SerialNo" required />
                <span asp-validation-for="SerialNo"></span>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <label asp-for="ClientName"></label>
                <input type="text" asp-for="ClientName" value="@Model.ClientName" class="form-control" required />
                <span asp-validation-for="ClientName"></span>

            </div>
            <div class="col">
                <label asp-for="MobileNo"></label>
                <input type="text" asp-for="MobileNo" value="@Model.MobileNo" class="form-control" required />
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <label asp-for="Address"></label>
                <textarea asp-for="Address" required class="form-control"></textarea>
                <span asp-validation-for="Address"></span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <label asp-for="SummaryOfReceivedList">Summary Of Received: </label>
                <select asp-for="SummaryOfReceivedList" class="selectpicker" multiple data-live-search="true" onse
                        asp-items="@(new SelectList(ReceivedItemList,"Text","Value"))">
                    <option disabled>Please select one</option>
                </select>
                <span asp-validation-for="SummaryOfReceivedList"></span>
            </div>
            <div class="col">
                <label asp-for="ProductStatusList">Product Status</label>
                <select asp-for="ProductStatusList" class="selectpicker" multiple data-live-search="true" onse
                        asp-items="@(new SelectList(ProductStatusList,"Text","Value"))">
                    <option disabled>Please select one</option>
                </select>
                <span asp-validation-for="ProductStatusList"></span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <label asp-for="Model"></label>
                <input type="text" class="form-control" asp-for="Model" value="@Model.Model" required />
                <span asp-validation-for="Model"></span>
            </div>
            <div class="col">
                <label asp-for="DatePrepared"></label>
                <input type="date" class="form-control" asp-for="DatePrepared" required />
                <span asp-validation-for="DatePrepared"></span>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <label asp-for="TechnicianNote"></label>
                <textarea asp-for="TechnicianNote" value="@Model.TechnicianNote" required class="form-control"></textarea>
                <span asp-validation-for="TechnicianNote"></span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <label asp-for="SubTotal"></label>
                <input type="hidden" class="form-control" asp-for="SubTotal" value="@Model.SubTotal" required />
                <input type="text" readonly  class="form-control"  value="@String.Format(new System.Globalization.CultureInfo("hi-IN"), "{0:c}", @Model.SubTotal)" required />
                <span asp-validation-for="SubTotal"></span>
            </div>
            <div class="col">
                <label asp-for="GrandTotal"></label>
                <input type="hidden" class="form-control" asp-for="GrandTotal" value="@Model.GrandTotal" required />
                <input type="text" readonly class="form-control"  value="@String.Format(new System.Globalization.CultureInfo("hi-IN"), "{0:c}", @Model.GrandTotal)" required />
                <span asp-validation-for="GrandTotal"></span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <label asp-for="IsClosed">Order Completed?</label>
                <input type="checkbox" asp-for="IsClosed" />
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary float-right" id="btnSubmitData">Save</button>
                <a class="btn btn-info float-right mr-1" asp-controller="Admin" asp-action="Index">Back</a>
            </div>
        </div>
        @{ if (Model.Id > 0)
            {
                <div class="row mt-2">
                    <div class="col">
                        <button type="button" class="btn btn-outline-primary" id="btnAddEstimate" data-toggle="modal" onclick="frmestimate.reset();" data-target="#modal-NewEstimate">Add Estimate</button>
                    </div>
                    <hr class="mt-1 mb-1" />
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <table class="table table-hover table-fixed makeDatatable" id="EstimateDetailslist">
                            <thead>
                                <tr>
                                    <th>DESCRIPTION</th>
                                    <th>ADDED ON</th>
                                    <th>AMOUNT</th>
                                    <th>SERIAL NUMBER</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>

                            <tbody>
                                @{
                                    if (Model.EstimateDetailsList == null)
                                    {
                                        <tr class="text-center">
                                            <td colspan="5">NO ESTIMATION ADDED</td>

                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var item in Model.EstimateDetailsList)
                                        {
                                            <tr>
                                                <td>@item.Description</td>
                                                <td>@item.ItemAddDate.Value.ToString("yyyy/MM/dd")</td>
                                                <td>
                                                    @String.Format(new System.Globalization.CultureInfo("hi-IN"), "{0:c}", @item.Amount)

                                                </td>
                                                <td>@item.SerialNo</td>
                                                <td><button type="button" class="btn btn-danger" onclick="removeEstimate(@item.Id)">Delete</button></td>
                                            </tr>
                                        }
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            }
        }

    </div>
</form>
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        function removeEstimate(estimateId) {
            debugger;
            if (confirm("Are You Sure To Delete Estimate..?")) {
                $.ajax({
                    type: 'POST',
                    url: '/Admin/DeleteEstimate?estimateId=' + estimateId,
                    success: function (response) {
                        window.location.reload();
                    },
                    error: function () {
                        alert("error");
                    }
                });
            }
        }
    </script>

}
<div class="modal fade" id="modal-NewEstimate" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <h4 class="modal-title">Add New Estimate</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>&nbsp;
                </button>
            </div>
            <form method="post" asp-action="AddEstimate" asp-controller="Admin" name="frmestimate" id="frmaddEstimate">
                <div class="modal-body">
                    <input type="hidden" asp-for="EstimateDetails.OrderDetailId" value="@Model.Id" />
                    <div class="row justify-content-between">
                        <div class="col form-group">
                            <label asp-for="EstimateDetails.Description"></label>
                            <textarea asp-for="EstimateDetails.Description" class="form-control" required></textarea>
                            <span asp-validation-for="EstimateDetails.Description" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="row justify-content-between">
                        <div class="col  form-group">
                            <label asp-for="EstimateDetails.Amount"></label>
                            <input asp-for="EstimateDetails.Amount" class="form-control" required />
                            <span asp-validation-for="EstimateDetails.Amount" class="text-danger"></span>
                        </div>
                        <div class="col  form-group">
                            <label asp-for="EstimateDetails.SerialNo"></label>
                            <input asp-for="EstimateDetails.SerialNo" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>&nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary pull-right">Save</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>